<%- include('./base/header.ejs') -%>

<p><%= user.name %>,</p><br/>
<p>Dans deux jours, vous allez effectuer votre premier don du sang et pour cela nous vous remercions par avance !</p>
<p>Afin que tout se passe sans encombre, nous vous rappelons d'emmener votre carte d'identité.</p>
<p>Pour en savoir plus, nous invitons à consulter ces liens : <a href='https://dondesang.efs.sante.fr/faq'>FAQ du don du sang</a> - <a href='https://dondesang.efs.sante.fr/donner-je-donne-pour-la-premiere-fois/premier-don-ce-quil-faut-savoir'>Premier don, ce qu'il faut savoir</a></p>
<p><em style="font-size:.9em">Si cela n'est pas votre premier don, nous vous prions d'ignorer ce message.</em></p><br/>
<p><%- FOOTER_TEAM %></p>

<%- include('./base/footer') -%>