@import '../../styles/constants.scss';
@import '../../styles/mixins.scss';

#dashboard {
  main {
    .dashboard-items {
      display: table; display: grid; /* table for old browser compatibility */
      grid-template-columns: 1fr 1fr;
      grid-gap: 25px;

      .alert { grid-column: span 2; }

      > div {
        h2 { margin-top: 0; }
      }

      @media (max-width: $min-width-mobile) {
        grid-template-columns: 1fr;
        .alert { grid-column: span 1; }
      }
    }
  }
}

// Promotion item
#promotion-item {

  ul.social-networks {
    margin-top: 10px;
    text-align: center;
    img { height: 48px; }
  }

  .button-container {
    margin-top: 20px;
  }

  .godchilds-block {
    border: solid 1px gray;
    background-color: $success-bg;

    padding: 10px 0;
    text-align: center;
    margin-bottom: 15px;

    > div {
      display: flex;
      align-items: center;
      img { width: 50px; height: 50px; flex: 1; }
      > div { flex: 5; }
    }

    button {
      display: block;
      margin: 10px auto 0 auto;
    }
  }
}

#modal .modal-body.godchild-details {
  table {
    width: 100%;
    border-collapse: collapse;

    th, td {
      padding: 10px;
      border: solid 1px lightgray;
      text-align: center;
    }

    img {
      display: block;
      max-width: 350px;
      @media (max-width: $min-width-mobile) { max-width: 200px }
      margin: 0 auto 10px auto;
    }
  }
}

// Establishment item
#etablishment-item {
  @include mx-only-top-bottom-padding();
  h2, h3 { @include mx-only-right-left-padding(); }

  .no-establishment {
    text-align: center;
    .btn {
      margin-top: 15px;
    }
  }

  .your-establishment ul.actions {
    text-align: center;
    margin-top: 30px;

    .btn { margin-bottom: 15px; }
  }
}

// Global design for mobile-collect-form and establishment-select-form
#location-select-form {
  text-align: center;

  .close {
    position: absolute;
    top: 0;
    right: 0;
  }

  .no-results {
    text-align: center;
    .btn {
      margin-top: 15px;
    }
  }

  .warning { margin-top: 10px; }

  .search-form-container {
    display: inline-block;

    > div, span, .form { display: inline-block; }
    > span { width: 30px; text-align: center; line-height: 33px; }

    input {
      padding: 7px 10px;
      width: auto;
      &[type=text] { border-radius: 20px 0 0 20px; padding: 9px 10px 8px 10px; }
      &[type=submit] { border-radius: 0 20px 20px 0; }
    }

    @media (max-width: $min-width-tablet) {
      span {
        display: block;
        width: auto;
        text-align: center;
      }
    }
  }

  .suggestions {
    margin-top: 30px;
    .loader { margin: auto; }

    > .suggestion {
      display: flex;
      align-items: center;
      margin: 5px 0;
      line-height: 30px;
      padding: 0 10px;
      @media (max-width: $min-width-tablet) {
        flex-direction: column;
        padding-bottom: 20px;
      }

      &:nth-child(odd) { background-color: lightgray; }

      .mobile-connect-result {
        display: flex;
        font-size: .9em;
        a { margin-left: 10px; font-size: .9em; }
        > div { flex: 1; }
      }

      .establishment-result {
        display: flex;
        text-align: left;
        align-items: center;
        > div {
          padding: 10px 20px;
          &:first-child { width: 60%; }
        }
      }

      > div { flex: 10; }
      > button { flex: 1; }
    }
  }
}

// About
#about {
  h3 {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: solid 1px $border-color;
  }
  ul {
    display: table; display: grid; /* table for old browser compatibility */
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  }
  img { width: 20px; margin-right: 10px; height: 20px; }

  li {
    display: flex;
    align-items: center;
    margin: 7px 0;

    > span { display: flex; align-items: center; }
    a { line-height: normal; }

    .btn {
      padding: 0;
      text-align: left;
    }
  }
}