@import "../../../styles/mixins.scss";

.establishment-card {
  .text {
    .title {
      span { margin-left: 15px; }
    }
  }

  .establishment-view {
    display: flex;
    width: 100%;
  }
  .tab-content {
    border-bottom: solid 1px $border-color;
    padding: 10px 15px;
  }

  button {
    display: block;
    width: 100%;
    padding: 5px;
    background-color: #eee;
    border: none;

    &.selected {
      border-bottom: none;
      background-color: lightgray;
    }
    button:hover {
      background-color: lightgray;
    }
  }

  .tab-map {
    .alert { margin: 15px; }
    button { max-width: 250px; margin: 20px auto 5px auto; }

    iframe {
      width: 100%;
      border: none;
      height: 350px;
    }
  }

}