@import '../../styles/mixins.scss';

.breadcrumb-nav {
  padding-top: 3px;
  font-size: .8em;

  @media (max-width: $min-width-tablet) {
    font-size: 1em;
    padding-left: 10px;
  }

  li {
    img {
      width: 10px;
      height: 10px;
      margin-right: 5px;
    }

    &::after {
      content: '>';
      margin-left: 10px;
    }

    // Remove > for the last element
    &:last-child {
      &::after { content: ''}
    }
  }
}