// BREAKPOINTS
$min-width-small-mobile: 350px;
$min-width-mobile: 768px;
$min-width-tablet: 992px;
$min-width-desktop: 1200px;

// FONT
$gray-font: #3c3b3b;

// ALERTS
$success-bg: #dff2bf;
$success-border: #4f8a10;
$warning-bg: #feefb3;
$warning-border: #9f6000;
$info-bg: #bde5f8;
$info-border: #00529b;
$error-bg: #ffbaba;
$error-border: #d8000c;

// PAGE
$block-background-color: white;
$block-padding: 25px;
$body-background-color: #eaf1f3;
$title-text-color: #2d3a49;
$text-color: #2e253a;
$border-color: lightgrey;
$body-font: 'Raleway', sans-serif;
$menu-height: 60px;
$menu-width: 250px;

// HEADER
$not-read-notification: #b0e0e6;

// BADGE
$badge-grey: #DDD;
$badge-done: #00529b;

// LINKS
$hashtag-color: #DD2E44

