@import './constants.scss';

@mixin mx-block-base($padding: $block-padding) {
  border-radius: 5px;
  background-color: $block-background-color;
  padding: $padding;
}
@mixin mx-only-top-bottom-padding($padding: $block-padding) {
  padding: $padding 0 !important;
}
@mixin mx-only-right-left-padding($padding: $block-padding) {
  padding: 0 $padding !important;
}

@mixin mx-social-auth() {
  .social-auth-buttons {
    max-width: 300px;
    margin: 20px auto 0 auto;
    display: flex;
    flex-direction: column;
    > button, > a {
      color: white;
      margin-top: 10px;
      padding: 10px;
      border-radius: 0;
    }
  }
}

@mixin  mx-input-style() {
  padding: 10px;
  width: 100%;
  border-radius: 20px;
  border: solid 1px lightgrey;
}

@mixin mx-about($padding: 25px) {
  #about {
    padding: $padding;
    h3 {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: solid 1px $border-color;
    }
    ul {
      display: table; display: grid; /* table for old browser compatibility */
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
    img { width: 20px; margin-right: 10px; height: 20px; }

    li {
      display: flex;
      align-items: center;
      margin: 7px 0;

      > span { display: flex; align-items: center; }
      a { line-height: normal; }

      .btn {
        padding: 0;
        text-align: left;
      }
    }
  }
}