/* DO NOT FORGET TO UPDATE STYLE IN : 404.html */
@import '../../styles/mixins.scss';

#not-found {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  main {
    width: 100%;
    height: 100%;
    padding: 30px;
    display: flex;
    @media (max-width: $min-width-mobile) {
      flex-direction: column;
    }

    img.not-found {
      padding: 0 30px;
    }

    > img, > div {
      flex: 1;
      max-height: 70%;

      align-self: center;
      text-align: center;
      font-size: 2em;

      .logo {
        font-weight: bold;
        > img {
          max-height: 100px;
          position: relative;
          top: 5px;
        }
        margin-bottom: 30px;
      }

      p {
        display: block;
        margin-bottom: 30px;
      }

      a {
        color: white;
        font-size: .7em;
      }
    }
  }
}