@import '../../../styles/mixins.scss';

#modal .first-visit-form {

  &.step-0 {
    .intro {
      margin-top: 20px;
      margin-bottom: 30px;
    }

    .katellea-objectives {
      display: inline-block;
      margin: 20px 0 30px 0;

      img {
        margin-right: 20px;
        width: 50px;
        height: 50px;
      }
      > li {
        display: table; display: grid; /* table for old browser compatibility */
        align-items: center;
        grid-template-columns: 70px 1fr;
        padding: 10px 0;
        font-weight: bold;
      }

    }

    > .button-container {
      margin-top: 30px;
    }
  }


  &.step-2 {
    .no-donation {
      margin-top: 10px;
      margin-bottom: 30px;
      input { vertical-align: bottom; margin-right: 5px; }
    }
    hr { margin-bottom: 30px; }

    .donation {
      display: flex;
      label { margin-right: 10px; }
      > div { flex: 1; }
      .alert { margin-top: 10px; }
    }

    .minimum-date {
      margin-top: 30px;
    }
  }

  &.step-3 {
    .blood-type-choices {
      display: table; display: grid; /* table for old browser compatibility */
      grid-template-columns: repeat(4, 1fr);
      grid-template-rows: repeat(3, 50px);
      > div { text-align: center; }
      .unknown { grid-column: span 4; }

      .text-center { grid-column: span 4; }
      .button-container { grid-column: span 4; }
    }

    .blood-type-indications {
      display: flex;
      grid-column: span 4;
      @media (max-width: $min-width-mobile) { flex-direction: column; }
      > div {
        flex: 1;
        padding: 10px 20px;
      }
    }
  }


  .button-container {
    margin-top: 50px;
    text-align: center;

    button:first-child { margin-right: 30px; }
  }
}