@import '../../styles/mixins.scss';

#account-page {

  .breadcrumb-nav {
    margin-top: 20px;
  }

  .main-content {
    grid-template-columns: 2fr 1fr;
    grid-template-rows: 1fr 1fr;
    @media (max-width: $min-width-tablet) {
      grid-template-columns: 1fr;
    }

    > div.update-account {
      grid-row: span 2;
    }
  }
}

#modal .modal-body.confirm-delete-modal {
  text-align: center;

  button.confirm {
    margin-top: 30px;
  }
}