@import '../../styles/mixins.scss';

#register {

  min-height: 100vh;
  display: table; display: grid; /* table for old browser compatibility */
  grid-template-rows: 50px 10fr 1fr;
  grid-template-columns: 1fr 2fr 1fr;
  background-image: url('/public/img/cover.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;

  h1 { margin-bottom: 5px; }
  .title { margin-bottom: 40px; }

  .register-form {
    background: white;
    opacity: 0.9;
    grid-column: 2;
    grid-row: 2;
    padding: 50px;

    @include mx-social-auth();

    .alert.error {
      margin-top: 10px;
    }
  }

  .sponsor-card {
    margin-bottom: 10px;
  }

  .login-button {
    text-align: center;
  }
}